<aside>
    
    <div class="widget">  
        <h3>Iniciar Sesión</h3>

        <form>
            <input type="email" name="email" placeholder="email">
            <input type="password" name="password" placeholder="password">
            <input type="submit" value="Entrar">
        </form>


    </div>

    <div class="widget">
        <h3>Últimas Entradas</h3>  

        <ul>
            <li><a href="/NB_news/Telematica.html">¿Qué es la Telématica?</a></li>
            <li><a href="/NB_news/videogames.html">¿Como se relaciona la telemática con los videojuegos?</a></li>
            <li><a href="/NB_news/ventajas.html">Ventajas de estudiar Telématica</a></li>
            <li><a href="/NB_news/historia.html">Historia de la Telemática</a></li>
            <li><a href="https://es.wikipedia.org/wiki/Telem%C3%A1tica" target="_blank">Wikipedia</a></li>
        </ul>

        
    </div>

    <div class="widget">  
        <h3>Frase Del Dia</h3>

        <blockquote> Pedir perdón es de inteligentes, perdonar es de nobles y perdonarse es de sabios</blockquote>
        
    </div>


</aside>