<section id="content">
    <h1>Ultimas Noticias</h1>


<article>
    <h2>¿Que es la Telématica?</h2>
    <p>
        La telemática es la ciencia que combina la informática y las telecomunicaciones para crear soluciones innovadoras y divertidas. 
        La telemática cubre un campo científico y tecnológico muy grande, englobando el estudio....
    </p>
    
    <a href="/NB_news/Telematica.html">Leer mas>></a>
</article>

<article>
    <h2>¿Como se relaciona la telemática con los videojuegos?</h2>
    <p>
        La telemática y los videojuegos están relacionados en varios aspectos, principalmente en la comunicación y la interacción entre jugadores a través de redes y sistemas informáticos.
         La telemática es una disciplina que combina las telecomunicaciones y la informática, y se encarga....
    </p>
    <a href="/NB_news/videogames.html">Leer mas>></a>
</article>

<article>
    <h2>Ventajas de estudiar Telemática</h2>
    <p>¡Estudiar Telemática es una excelente opción! Esta carrera combina los campos de las telecomunicaciones y la informática, 
        lo que permite a los estudiantes adquirir conocimientos y habilidades para analizar...</p>
    <a href="/NB_news/ventajas.html">Leer mas>></a>
</article>

<article>
    <h2>Historia de la Telemática</h2>
    <p>El primer sistema telemático que se empleó de forma masiva fue el videotex, desarrollado hacia 1970. Consiste en un....</p>
    <a href="/NB_news/historia.html">Leer mas>></a>
</article>

<article>
    <h2>Wikipedia</h2>
    <p>Ingeniería telemática, o simplemente telemática, es un campo de la ciencia que engloba los conocimientos 
        de la informática y de la tecnología de la comunicación para el desarrollo de diseños, procesos y técnicas de 
        servicios o aplicaciones que permiten transmitir datos.</p>
    <a href="https://es.wikipedia.org/wiki/Telem%C3%A1tica">Leer mas>></a>
</article>

<ul class="pagination">
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">...</a></li>
    <li><a href="#">23</a></li>

</ul>

</section>