<section id="content1">
    


    <article>
        <h2>¿Que es la Telématica?</h2>
        <p>
            La telemática es la ciencia que combina la informática y las telecomunicaciones para crear soluciones innovadoras y divertidas. 
            La telemática cubre un campo científico y tecnológico muy grande, englobando el estudio, diseño, gestión y aplicación de las redes y servicios de comunicaciones, 
            para el transporte, almacenamiento y sistema de navegación procesado de cualquier tipo de información, incluyendo el analisis y diseño de tecnólogias y sistemas de 
            computación. 

        </p>

        <div class="in">
           <iframe width="560" height="315" src="https://www.youtube.com/embed/Zr3Eh5w4SYg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
    </article>
</section>