<section id="content4">
 
    


<article>
    <h2>Historia de  la Telématica</h2>
    <h3>El viodeotex</h3>

    <p>
        El primer sistema telemático que se empleó de forma masiva fue el videotex, desarrollado hacia 1970. 
        Consiste en un archivo de información alfanumérica o gráfica sobre la pantalla de un televisor, que el usuario puede utilizar de manera pasiva o activa.
    </p>
    
    <p>
        En el primer caso, se utiliza un teclado numérico para seleccionar la “página” 
        que se desea consultar y que es transmitida por vía hertziana a través de canales de televisión (teletexto: sistema Antiope en Francia; Viewdata en Gran Bretaña).
    </p>

    <p>
        La técnica desarrollada en el caso de informa­ción transmitida por vía hertziana es ingeniosa. En vez de liberar frecuencias para el nuevo servicio, lo que indicaría la lógica, 
        los ingenieros deciden aprovechar los espacios inutilizados por la retransmisión televisiva (una decena de líneas) e “intercalar” el mensaje.
    </p>

    <p>
        La BBC inglesa considera el empleo de este tipo de transmisión desde 1967-1968, para transmitir subtítulos para los sordos. En 1979, Francia desarrolla su propio sistema, 
        Antiope (Adquisición numérica y televisualización de imágenes organizadas en páginas de escritura), que permite a las personas sordas acceder a la información televisada.
    </p>

    <p>
        Después de 1988, se deja de comercializar el sistema Antiope en Francia, 
        y se impone el sistema europeo Ceefax. A fines de 1991, un millón de hogares franceses están equipados para recibir este servicio.
    </p>
    
    <h3>El Minitel</h3>

    <p>
        El teletexto es muy difundido, pero la aplicación más popular de la telemática fue el Minitel, que permite la interacción con el usuario. Aunque utiliza técnicas de transmisión relativamente conocidas, en especial en el marco de los diálogos entre ordenadores,
         el Minitel representa una innovación de gran alcance sociológico en Francia, país que lo invento y su único usuario hasta la fecha
    </p>

    <p>
        El sistema videotex Télétel es el esqueleto del Minitel, que fue ideado para los correos electrónicos y telecomunicaciones franceses en 1974, en el marco de una reforma mayor de la administración de las telecomunicaciones, 
        y con el objetivo de renovar y extender la red telefónica que mostraba un retraso considerable con respecto a sus homologas occidentales.
    </p>

    <p>
        Este sistema utiliza un pequeño terminal individual, el “Minitel” propiamente dicho, que se conecta a una unidad central que puede ser muy potente (como en el caso del anuario electrónico
         de la oficina de correos) o de capacidad reducida (como en el caso de los servicios administrados por micro o miniordenadores servidores P2P).
    </p>

    <p>El principio de su funcionamiento consiste en operar una serie de transducciones para hacer transitar por la red telefónica datos de texto o gráficos. Éstos son enviados desde el teclado del 
        terminal del usuario, que a su vez recibe los datos de la central de servicio en su pantalla, y que puede de esta manera «dialogar» con él.</p>


    <h3>Inicio de la era del Minitel</h3>

    <p>
        La primera experiencia del Minitel se realiza en 1981 en Veliz (operación Télétel 3). Rápidamente, esta se extiende y el Minitel conoce un éxito apabullante: 5 millones de terminales, más de 3.000 
        servidores y 20 millones de llamadas mensuales.
    </p>

    <p>
        El interés comercial por este servicio de correo 
        electrónico masivo se despierta rápidamente en todos 
        los prestatarios de servicios: los franceses aprenden a 
        utilizar el Minitel para efectuar operaciones bancarias 
        a domicilio, pedidos de artículos de las empresas de 
        venta por correspondencia, reservas de asientos en trenes y aviones.


    </p>

    <p>
        También cómo utilizar las innumerables posibilidades de servidores especializados (videojuegos, correo, oferta y demanda de empleos, bancos de datos diversos). Las consecuencias sociales y culturales del Minitel, como de todo producto telemáti­co, son muy importantes. Producen la entrada definitiva de 
        las sociedades modernas en la era de la informá
    </p>



    <div class="ht">
        <img src="/NB_news/img/videotex.jpg" alt="">
        <img src="/NB_news/img/minitel.jpg" alt="">
    </div>


    <blockquote><a href="https://curiosfera-historia.com/origen-e-historia-de-la-telematica/" target="_blank">Fuente consultada</a></blockquote>

    </article>







</section>