<section id="content3">



<article>
    <h2>Ventajas de estudiar Telématica</h2>
   
    <ol>
        <li>Podrás desarrollar tus propias páginas web, programas o videojuegos</li>
        <li>Podrás alcanzar grandes niveles de aumatización y control a distancia</li>
        <li>Podrás crear nuevas formas de vínculo social</li>
        <li>Estarás listo para un futuro tecnológico</li>
        <li>Podrás estar en contacto directo con las últimas tecnologías y avances en el área</li>
        <li>Podrás mejorar e innovar los software de las aplicaciones provenientes de las telecomunicaciones</li>
        <li>Serás capaz de repara equipos de informaticos ¡o incluso cear los tuyos!</li>
    </ol>
    

   

    <div class="images">
        <img src="/NB_news/img/12yearold_programming.jpg" alt="">
        <img src="/NB_news/img/Young_girl_working_on_a_network.jpg" alt="">
        <img src="/NB_news/img/Teenager_building_a_robot_1.jpg" alt="">
        <img src="/NB_news/img/Spirit_Creatures_A_gray_and_blue_cute_robot_working_on_a_netwo_1.jpg" alt="">
        <img src="/NB_news/img/Spirit_Creatures_A_gray_and_blue_robot_working_on_a_network_0.jpg" alt="">
        <img src="/NB_news/img/6.jpg" alt="">
   </div>






</article>