<section id="content2">
    


    <article>
        <h2>¿Como se relacionan la telemática y los videojuegos?</h2>
        <p>
            La telemática y los videojuegos están relacionados en varios aspectos, principalmente en la comunicación y la interacción entre jugadores
             a través de redes y sistemas informáticos. La telemática es una disciplina que combina las telecomunicaciones y la informática, y se encarga 
             de gestionar y transportar información de un lugar a otro de forma transparente para el usuario final
        </p>

        <p>
            En el caso de los videojuegos, la telemática permite la conexión entre jugadores de diferentes lugares, 
            facilitando la interacción y el juego en línea. Un ejemplo de esto es el juego "It Takes Two", que incluye un pase de amigo para compartir 
            la experiencia de forma telemática y gratuita con otra persona

        </p>

        <p>
            Los videojuegos también pueden ser utilizados como herramientas de comunicación y socialización, 
            permitiendo a los usuarios conectarse con otras personas y hacer amigos de manera telemática

        </p>

        <p>
            Además, la telemática también se aplica en el desarrollo de videojuegos, 
            como en el caso de la Ingeniería Técnica en Telemática, donde se trabaja en el modelado y desarrollo de videojuegos educativos 
            utilizando herramientas como Google Sketchup

        </p>

        <div class="images">
            <img src="/NB_news/img/capsule_616x353.jpg" alt="">
            <img src="/NB_news/img/It_Takes_Two_cover_art.png" alt="">
            <img src="/NB_news/img/roblox.jpg" alt="">
            <img src="/NB_news/img/ff.jpeg" alt="">
            <img src="/NB_news/img/poster.jpg" alt="">
            <img src="/NB_news/img/6.jpg" alt="">
       </div>
    

        
    </article>
</section>